#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
}

nav.bg-color {
    background-color: rgb(253, 95, 124);
}


ul.menu {
    list-style: none;
    padding: 0;
}

ul.menu li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}

ul.menu li a:hover {
    background: rgb(190, 89, 106);
}

ul.menu li.active > a{
    background: #386285;
}

#sidebar.tutup{
    margin-left: -250px;
}

a.dropdown-sidebar-arcom {
    position: relative;
}

a.dropdown-sidebar-arcom::after {
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

a.dropdown-sidebar-arcom[aria-expanded='true'] {
    background: rgb(134, 53, 66);
}